<html>
<title>
	r2d2-bot
</title>
<link rel="shortcut icon" type="image/jpeg" href="https://images.shiksha.com/mediadata/images/1571907741phpyfh8Hr.jpeg"/>

<head>
</head>

<style>
.content {
  max-width: 500px;
  margin: auto;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer
}

.button2 {background-color: #008CBA;} /* Blue */
</style>
<body>
<!--    
	<h4>bot is online</h4><br> 
    <div class = "content">
    <a href="https://discord.com/invite/yc38n94jyM" class="button button2" target ="_blank">Join Server</a><br>
	<iframe src="https://discord.com/widget?id=778854980110254090&theme=dark" width="350" height="500" allowtransparency="true"
	frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
    -->
</html>